
button.calendar, button.calendar:active {
    width: 2.75rem;
    background-image: url("../../../assets/image/img.png")!important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: 50%;
}

.title {
    text-align: center;
    font-size: 27px;
}

.label {
    font-size: 18px;
}

.btn-add {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    background: #5CB85C;
    border: none;
    border-radius: 10px;
    margin-left: 15px;
    width: 93%;
    color: white;
}

.invalid-feedback {
    display: block;
    font-size: 100%;
}
