* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-size: 12px;
    font-family: 'Source Sans Pro';
}

.container {
    background: #FFFFFF;
    border-radius: 0px;
    margin: auto;
}
.content {
    display: flex;
    margin-top: 20px;
}

.task-left {
    width: 40%;
    padding: 10px 20px;
    border: 1px solid #000000;
    border-right: none;
  
}

.task-right {
    width: 60%;
    padding: 10px 20px;
    border: 1px solid #000000;
}
